.blog-card {
    width: 100%;
    box-sizing: border-box;

}
.width-fixed .blog__link {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px;
    box-sizing: border-box;

}
.width-fixed {
    width: 360px;
    box-sizing: border-box;
}
.flex-row {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.margin-top {
    margin-top: 20px;
}