.item-wrapper {
    flex: 1 0 0;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1
}
.item-wrapper .product-block {
    width: 100%;
    display: flex;
    margin-top: 10px;
    /* flex-wrap: wrap; */
    background-color: white;
    border: 0;
    border-radius: 24px;
    box-shadow: 0 28px 32px #6c6d711a, 0 4px 8px #6c6d710d, 0 8px 16px #6c6d710d;
    color: var(--color-black);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    /* flex: 1 0 0;
    max-width: 100%;
    min-width: 200px; */
    padding: 0;
    text-align: left;
    text-decoration: none;
    transition: transform .25s ease-in-out;
}
.product-block-item {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 40%;
}
.product-body {
    padding: 1.5rem;
    flex-direction: column;
    flex: 1;
    width: 60%;
}
.left {
    justify-content: left;
}
.product-block-item img {
    border-radius: 1.5rem 0 0 1.5rem;
    height: 100%;
    min-width: 280px;
    width: 100%;
    display: flex;
    object-fit: cover;
    object-position: center;
}
@media screen and (max-width: 867px){
    .collection .item-wrapper .product-block{
        flex-direction: column;

    }
    .product-block-item {
        width: 100%;
    }
    .product-block-item img{
        border-radius:1.5rem 1.5rem 0 0 ;
    }
}