
/* .card-product_stay {
    border-radius: 24px;
    box-shadow: 0 28px 32px #6c6d711a, 0 4px 8px #6c6d710d, 0 8px 16px #6c6d710d;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
} */
.card-product .container-block {
    padding: 0;
}
.card-product .green-text_stay {
    background-color: hsla(175, 100%, 25%, 1);
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    padding: .875rem;
    margin: 0;

}
.card-product .white-text_stay {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}
.white-text_stay .top-text {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: calc(1.5 * 1.5rem);
}
.white-text_stay .top-text .text-first{
    font-size: 1.125rem;
    line-height: 1.125rem;
    display: flex;
    margin-bottom: 0.625rem;

}
.white-text_stay .top-text .text-second{
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin-bottom: 0.625rem;
}
.white-text_stay .top-text .text-third {
    font-size: 1.125rem;
    line-height: 1.125rem;
    display: flex;
    justify-content: flex-end;

}
.white-text_stay .blur-input {
    color: black;
    background: white;
    min-width: 0;
    box-sizing: border-box;
    padding: 0.5rem 1.25rem;
    margin: 0;
    border: 1px solid hsla(228, 8%, 76%, 1);
    border-radius: 14px;
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
    outline: none;
    transition: all 80ms cubic-bezier(.4,0,.2,1);
}
.buy-block-btn {
    margin-top: 1.5rem;
    margin-bottom: calc(1.5 * 1.5rem);
    padding: 0 1.25rem;
}
.as-link {
    background: transparent;
    border: 0;
    color: hsla(172, 100%, 25%, 1);
    text-decoration: underline;

}